	.erase {width: auto; height: auto;}

	.sido {
		width: auto;
		height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		background: rgb(67, 77, 104);
		border: 2px solid rgb(67, 77, 104);
		border-radius: 30px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.mark {
	border-radius:10px; border: 1px solid blue; color: white; font-size: 14px; width: 30px; height: 30px; background: blue
	}
	.circle {
	border-radius:50%; border: 1px solid aqua; color: white; font-size: 24px; width: 100px; height: 100px; background: aqua; display: flex; align-items: center; justify-content: center;
	}
	
	.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
	}
	
	.map_wrap {position:relative;width:800px;height:600px; display: flex; align-items: center; justify-content: center; margin: 0 auto;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:50px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}